<div class="city_map">

    <%- include("district", {x: 0, y: 0, district: "Business", icon: "./img/icons/briefcase-solid.svg" }) %>
    <%- include("district", {x: 0, y: 0, district: "Fire_and_Police", icon: "./img/icons/building-shield-solid.svg" }) %>
    <%- include("district", {x: 0, y: 0, district: "Industrial", icon: "./img/icons/industry-solid.svg" }) %>
    <%- include("district", {x: 0, y: 0, district: "Housing", icon: "./img/icons/house-solid.svg" }) %>
    <%- include("district", {x: 0, y: 0, district: "University", icon: "./img/icons/building-columns-solid.svg" }) %>
    <%- include("district", {x: 0, y: 0, district: "Hospital", icon: "./img/icons/hospital-solid.svg" }) %>

</div>